/*
 _   _             _             _   _             
| \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
|  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
| |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
|_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                     |___/                         
		
*/

nav {
    position: absolute;
    right: 0px;

}

nav li {
    list-style-type: none;
    display: inline-block;
}

/*
  ____            _             _   
 / ___|___  _ __ | |_ ___ _ __ | |_ 
| |   / _ \| '_ \| __/ _ \ '_ \| __|
| |__| (_) | | | | ||  __/ | | | |_ 
 \____\___/|_| |_|\__\___|_| |_|\__|
*/

.content {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.content:nth-child(odd) {
    background-color: #84c5cb;   
}


/* 
 _____           _            
|  ___|__   ___ | |_ ___ _ __ 
| |_ / _ \ / _ \| __/ _ \ '__|
|  _| (_) | (_) | ||  __/ |   
|_|  \___/ \___/ \__\___|_|   
                              
*/

footer {
    text-align: center;
}