/*
 _   _             _             _   _             
| \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
|  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
| |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
|_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                     |___/                         
*/

nav {
    top: 0px;
    font-family: Arial;
    width: 100%;
    z-index: 1;
    text-align: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 2% 0 2%;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color:#D7E4ED;
}

/*
  _   _                _           
 | | | | ___  __ _  __| | ___ _ __ 
 | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
 |  _  |  __/ (_| | (_| |  __/ |   
 |_| |_|\___|\__,_|\__,_|\___|_|
*/

#header {
    position: relative;
    padding-left: 10%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 4em;
    margin: 0px;
}
h3 {
    font-size: 1em;
    margin: 0px;
}

h2 {
    font-family: Arial;
}

/*
  ____            _             _   
 / ___|___  _ __ | |_ ___ _ __ | |_ 
| |   / _ \| '_ \| __/ _ \ '_ \| __|
| |__| (_) | | | | ||  __/ | | | |_ 
 \____\___/|_| |_|\__\___|_| |_|\__|
*/

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.content {
    margin: auto;
    padding: 5%;
    width: 60%;
    text-align: center;
    font-family: Garamound;
    background-color: white;    
    border-bottom: 3px solid #D7E4ED;

}


/* 
 _____           _            
|  ___|__   ___ | |_ ___ _ __ 
| |_ / _ \ / _ \| __/ _ \ '__|
|  _| (_) | (_) | ||  __/ |   
|_|  \___/ \___/ \__\___|_|   
                              
*/

footer {
    text-align: center;
}