@font-face {
    font-family: Gill;
    src: url(Gill.TTF);
}

/*
 _   _             _             _   _             
| \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
|  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
| |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
|_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                     |___/                         
*/

nav {
    position: fixed;
    background-color: white;
    top: 0px;
    font-family: Gill;
    font-size: 20px;
    width: 100%;
    z-index: 1;
    text-align: right;
    height: 50px;


}
nav ul {
    margin-top: 0px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: px 2% 0 2%;
}

a {
    text-decoration: none;
    color: #87bbe2;
}

a:hover {
    color:#D7E4ED;
}

/*
  _   _                _           
 | | | | ___  __ _  __| | ___ _ __ 
 | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
 |  _  |  __/ (_| | (_| |  __/ |   
 |_| |_|\___|\__,_|\__,_|\___|_|
*/

#header {
    top: 50px;
    position: relative;
    padding-left: 25%;
    font-family: Gill, sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 3%;
    background-color: white;

}
h1 {

    font-size: 4em;
    margin: 0px;
}
h3 {
    font-size: 1em;
    margin: 0px;
}

h2 {
    text-align: center;
    font-family: Gill;
}

/*
  ____            _             _   
 / ___|___  _ __ | |_ ___ _ __ | |_ 
| |   / _ \| '_ \| __/ _ \ '_ \| __|
| |__| (_) | | | | ||  __/ | | | |_ 
 \____\___/|_| |_|\__\___|_| |_|\__|
*/

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.content {    
    padding: 2% 25% 2% 25%;
    text-align: right;
    min-height: 250px;
    font-family: Lora;
}

.content:nth-child(odd) {
    background-color: #D7E4ED;
}

.content:nth-child(even) {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 77%, rgba(0,0,0,0.07) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(77%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.07) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.07) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.07) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 77%,rgba(0,0,0,0.07) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */
}
#memberinfo ul {list-style-type: none;
                text-align: left;
                line-height: 20px}

#memberinfo li {border-bottom: 1px solid #000000;
                padding-bottom: 15px;}

img {width: 150px;
    height: 225px;
    float: right;
    margin: 15px;
    clear: right;
    border: 3px solid;
    border-color: #000000}


/* 
 _____           _            
|  ___|__   ___ | |_ ___ _ __ 
| |_ / _ \ / _ \| __/ _ \ '__|
|  _| (_) | (_) | ||  __/ |   
|_|  \___/ \___/ \__\___|_|   
                              
*/

footer {
    text-align: center;
    font-size: 0.75em;
    font-family: Gill;
    padding: 2% 0 1% 0;
}